.revolutionary_editor {
   width: 100vw;
   font-family: 'Montserrat', sans-serif;
   text-align: center;

   &__container {
      max-width: 946px;

      @media (max-width: $tablet) {
         max-width: 689px;
      }
   }

   &__title {
      color: color(accent, 'dark');
      text-transform: uppercase;
      @include fontProperties(700, 54, 54);

      @media (max-width: $tablet) {
         @include fontProperties(null, 42, 42);
      }

      @media (max-width: $mobile) {
         margin-top: 8px;
         @include fontProperties(null, 26, 28);
      }
   }

   &__text {
      font-family: 'Lato', sans-serif;
      @include fontProperties(400, 21, 32);
      color: color(primary, 'dark');
      margin-top: 35px;
      margin-bottom: 13px;

      @media (max-width: $mobile) {
         @include fontProperties(null, 14, 20);
         margin-top: 27px;
         margin-bottom: 36px;
      }
   }

   &__list {
      @include flexCenter;
      gap: 10px;
      margin-bottom: 70px;

      @media (max-width: $tablet) {
         margin-bottom: 98px;
      }

      @media (max-width: $mobile) {
         margin-bottom: 88px;
         flex-wrap: wrap;
      }
   }

   &__item {
      @include flexCenter;
      gap: 10px;
      width: 210px;
      height: 40px;
      @include fontProperties(700, 20, 20);
      border-radius: 6px;
      color: #24292f;
      background-color: color(secondary);
      box-shadow: 0 1px 0 rgba(27, 31, 36, 0.04), inset 0 1px 0 rgba(255, 255, 255, 0.25);
      border: 1px solid rgba(27, 31, 36, 0.15);

      @media (max-width: 610px) {
         @include fontProperties(null, 15, 15);
      }

      @media (max-width: $mobile) {
         width: 135px;
         @include fontProperties(null, 13, 13);
      }
   }

   &__icon {
      @media (max-width: 610px) {
         width: 15px;
         height: 15px;
      }
   }

   &__item--text {
      @include flexCenter;
      width: 100%;
      height: 100%;
      border-bottom-left-radius: 6px;
      border-top-left-radius: 6px;
      gap: 10px;
      border-right: 1px solid rgba(27, 31, 36, 0.15);
      background-color: #f6f9fa;
      padding: 0 5px;
   }

   &__item--number_wrap {
      width: 80%;
   }

   &__item--number {
      padding-right: 10px;
   }
}
