.here {
   padding-top: 100px;
   padding-bottom: 50px;
   background-color: color(background, 'secondary');
   @media (max-width: 992px) {
      background-color: color(background);
      overflow: hidden;
   }

   &__container {
      display: grid;
      grid-template-rows: 90px auto;
      grid-template-columns: 1fr 650px;
      column-gap: 20px;
      grid-template-areas:
         'content heading'
         'content image';

      @media (max-width: 1140px) {
         padding-bottom: 23px;
         grid-template-columns: 1fr;
         grid-template-rows: auto auto;
         column-gap: 0px;
         grid-template-areas:
            'heading '
            'content '
            'image ';
      }

      @media (max-width: 580px) {
         grid-template-rows: auto;
      }
      @media (max-width: 480px) {
         padding: 0px 0px 20px 0px;
      }
   }

   &__content {
      grid-area: content;
      row-gap: 33px;
      @include flexProperties(center, start, column);

      @media (max-width: 1140px) {
         margin: 48px 0px 85px;
         row-gap: 50px;
      }

      @media (max-width: 740px) {
         row-gap: 37px;
      }

      @media (max-width: 580px) {
         margin-top: 15px;
         padding: 0px 15px;
      }
   }

   &__heading {
      text-align: right;
      grid-area: heading;

      @media (max-width: 1140px) {
         font-size: 48px;
         text-align: center;
      }

      @media (max-width: 992px) {
         @include fontPropertiesFull(null, 42, 44);
      }

      @media (max-width: 580px) {
         padding: 0px 15px;
         @include fontPropertiesFull(null, 32, 38);
      }
   }

   &__image {
      grid-area: image;
      text-align: right;
      justify-self: end;
      width: 675px;
      height: 475px;
      transform: translateX(90px);
      margin-left: 55px;
      @media (max-width: 1140px) {
         transform: translateX(20px);
      }
      @media (max-width: 992px) {
         margin-left: 0;
      }
      @media (max-width: 740px) {
         overflow: hidden;
         height: 450px;
         width: 530px;
      }
      @media (max-width: 580px) {
         height: 350px;
         width: 430px;
      }
      @media (max-width: 470px) {
         transform: translateX(0px);
         height: 350px;
         width: 370px;
      }
      @media (max-width: 400px) {
         height: 350px;
         width: 310px;
      }
   }

   @media (max-width: 1140px) {
      padding-top: 40px;
      padding-bottom: 0px;
   }

   @media (max-width: 580px) {
      padding-top: 32px;
   }
}

.content-item {
   column-gap: 23px;
   @include flexProperties(start, center, row);

   &__image {
      min-width: 111px;
      text-align: center;
      margin-top: 3px;
   }

   &__title {
      margin-bottom: 14px;
      line-height: 1.31;
      color: color(primary, 'dark');
   }

   &__text {
      max-width: 396px;
      font-size: 14px;
      line-height: 1.5;

      @media (max-width: 1140px) {
         max-width: 563px;
      }
   }

   @media (max-width: 740px) {
      align-items: center;
      flex-direction: column;
      text-align: center;
      row-gap: 23px;
   }
}
