.pricing {
   background: url(../img/pricing/pricing-bg.webp);
   background-repeat: no-repeat;
   background-position: center 76%;
   background-size: cover;
   &__container {
      padding-top: 80px;
      padding-bottom: 73px;
      text-align: center;

      @media (max-width: 992px) {
         padding-top: 75px;
      }
      @media (max-width: 480px) {
         padding-top: 20px;
         padding-bottom: 20px;
      }
   }

   &__heading {
      margin-bottom: 45px;

      @media (max-width: 992px) {
         margin-bottom: 39px;
      }
      @media (max-width: 480px) {
         margin-bottom: 32px;
         @include fontPropertiesFull(null, 28, 42);
      }
   }

   &__offers {
      display: grid;
      grid-template: repeat(auto-fit, minmax(560px, 1fr)) / repeat(auto-fit, minmax(299px, 1fr));

      @media (max-width: 1255px) {
         column-gap: 10px;
         grid-template-rows: repeat(auto-fit, minmax(auto, 1fr));
         grid-template-columns: repeat(auto-fit, minmax(257px, auto));
      }
      @media (max-width: 1140px) {
         row-gap: 30px;
         column-gap: 40px;
         justify-content: center;
         grid-template: 457px 1fr/257px 257px;
      }
      @media (max-width: 992px) {
         column-gap: 25px;
      }
      @media (max-width: 680px) {
         row-gap: 18px;
         grid-template-columns: 299px;
      }
   }
}

.offer-item {
   width: 257px;
   color: color(secondary);
   text-transform: uppercase;
   transition: all 0.4s ease-out;
   background-color: color(background, $opacity: 'lighter');

   &__wrapper {
      justify-self: center;
      @include flexProperties(center);
      @media (mix-width: 1140px) {
         min-height: 560px;
      }
   }

   &__title {
      padding: 36px 30px;
      background-color: color(background, $opacity: 'light');
      transition: inherit;
      @include fontPropertiesFull(null, 24, 24, null);

      @media (min-width: 1255px) {
         .offer-item:hover & {
            padding: 44px 30px;
            background-color: #463048;
         }
      }
   }

   &__body {
      position: relative;
      padding: 30px 0px 37px;
      padding-bottom: 37px;
      transition: inherit;

      @media (min-width: 1255px) {
         .offer-item:hover & {
            padding: 10px 0px 46px;
            background-color: rgba(70, 48, 72, 0.84);
         }
      }
   }

   &__price {
      margin-bottom: 15px;
      transition: inherit;
      @include fontPropertiesFull(null, 60, 60, null);

      span {
         font-weight: 700;
      }
      @media (min-width: 1255px) {
         .offer-item:hover & {
            font-size: 82px;
         }
      }
   }

   &__date {
      margin-bottom: 79px;
      transition: inherit;
      @include fontPropertiesFull(null, 14, 16, null);

      @media (min-width: 1255px) {
         .offer-item:hover & {
            margin: 14px 0px 99px;
         }
      }

      &::after {
         transition: inherit;
         transform: translate(-50%, -46%);
         background-color: color(background, 'accent');
         @include absolute(46%, 50%, 60px, 5px);

         @media (min-width: 1255px) {
            .offer-item:hover & {
               top: 40%;
               transform: translate(-50%, -40%);
            }
         }
      }
   }
   &__description {
      height: 40px;
      margin-bottom: 36px;
      line-height: 1.1;
      text-transform: none;
      transition: inherit;

      @media (min-width: 1255px) {
         .offer-item:hover & {
            margin-bottom: 82px;
         }
      }
   }

   &__button {
      display: inline-block;
      padding: 15px 38px;
      border-radius: 30px;
      cursor: pointer;
      transition: inherit;
      background-color: color(background, $opacity: 'normal');
      @include fontPropertiesFull(null, 15, 15, null);

      @media (min-width: 1255px) {
         .offer-item:hover & {
            padding: 20px 52px;
         }
      }

      &:hover {
         background-color: color(background, 'accent');
      }
   }
   @media (min-width: 1255px) {
      &:hover {
         width: 299px;
      }
   }
}

.grid-item-three {
   @media (max-width: 1140px) {
      margin-right: 38px;
   }
   @media (max-width: 680px) {
      margin-right: 0px;
   }
}
